.portfolio{
	height: 925px;
}


.projects {
	width: 275px;
	float: left;
	text-align: center;

}

		#hangman, #trivia, #rockpaper{
			margin-right: 37px;
		}


				.image{ 
					width: 275px;
				}


				p {
					position:relative;
					bottom: 55px;
					background-color: #4aaaa5;
					color: white;
					padding: 10px 0px;
					position: relative;
					bottom: px;
				}
			






@media screen and (max-width: 980px){


		.portfolio {
			background-color:;
			max-height: 2000px;
			height: 100%;
		}

		.projects {
			width: 355px;

		}

		.image { 
			width: 355px;
		}
		
		
}




@media screen and (max-width: 768px){

	.projects {
		width: 300px;
		float: left;
	}

	.image{ 
		width: 300px;
	}


	#hangman, #trivia, #rockpaper{
		margin-right: 60px;
		}
}




@media screen and (max-width: 640px){


		.portfolio {
			background-color:;
			max-height: 5000px;
			height: 100%;
		}

		.projects {
			width: 578px;

		}

		.image { 
			width: 578px;
		}
		
		
}

